<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440278738496-4mi8ukv74vuhckdsf5uc2gm0e7vdp3uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440278738496-4mi8ukv74vuhckdsf5uc2gm0e7vdp3uh</string>
	<key>API_KEY</key>
	<string>AIzaSyCsp_VhtBWmUnDPTRay6w4HymeI-2OXlFs</string>
	<key>GCM_SENDER_ID</key>
	<string>440278738496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.CaseStudySprint2</string>
	<key>PROJECT_ID</key>
	<string>shoppingcasestudyauth</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingcasestudyauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440278738496:ios:5e499ead846f456799e1a5</string>
</dict>
</plist>